.cat-facts {
  max-width: 600px;
  text-align: center;

  h1 {
    font-size: 30px;
}

  button {
    background-color: #005dc6;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;

    &:hover {
      background-color: #007bff;
  }
}

  .success-box {
    background-color: #e7f9ed;
    color: #134922;
    border: none;
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

  .error-box {
    background-color: #ffe5e5;
    color: #8a1f1f;
    border: none;
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
}
}
